body {
  font-family: Helvetica, Arial, sans-serif;
  background-size: 100%;
  background-image: url("../images/blur.jpg");
  background-repeat: no-repeat;
  color: white;
}

html, body, #map {
  height: 100%;
  margin: 0;
  padding: 0;
}

.column {
  width: 48%;
  padding: 2%;
  float: left;
}

h1 {
  font-family: 'Poiret One', cursive;
  text-shadow: 2px 2px 4px #000000;
  font-size: 40px;
  margin-bottom: 10px;
  text-align: center;
}

.overlay {
  margin-right: 5%;
  background-image: url("http://1x1px.me/NFFFFFF-0.3.png");
  border-radius: 0.5%;
  border: 1px solid white;
  padding: 20px;
  float: right;
  width: 80%;
  overflow-y: auto;
  height: 550px;
}


p {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 18px;
  padding: 10px 0;
}

p span {
  padding: 5px;
/*  background-image: url("http://1x1px.me/NFFFFFF-0.3.png");*/
  color: red;
  text-shadow: 1px 2px 2px #000000;
  font-size: 33px;
  margin-top: 5%;
  margin-right: 5%;
}

.loc {
  padding-left: 15%;
  color: #ffe199;
}

